<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">

    <title>Сброс пароля</title>
</head>
<body>
    <h1>Сброс пароля</h1>
    <form action="/reset-password" method="POST">
        <input type="email" name="email" placeholder="Введите ваш email" required>
        <button type="submit">Отправить код</button>
    </form>
    <p><a href="/login">Вернуться ко входу</a></p>
</body>
</html>
