<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">

    <title>Подтверждение входа</title>

</head>
<body>
    <div class="container">
        <h1>Подтверждение входа</h1>
        <p>Введите код из приложения Google Authenticator:</p>
        <form action="/verify-otp" method="POST">
            <input type="text" name="otp" required>
            <button type="submit">Подтвердить</button>
        </form>
    </div>
</body>
</html>
