<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">

    <title>Подтверждение сброса пароля</title>

</head>
<body>
    <h1>Введите код сброса</h1>
    <form action="/verify-reset-code" method="POST">
        <input type="hidden" name="email" value="<%= email %>">
        <input type="text" name="code" placeholder="Введите код" required>
        <input type="password" name="newPassword" placeholder="Введите новый пароль" required>
        <button type="submit">Сбросить пароль</button>
    </form>
    <p><a href="/login">Вернуться ко входу</a></p>
</body>
</html>
